/**
 * EA1H API
 * \"REST API for EA1H Application\"
 *
 * OpenAPI spec version: 1.0.0
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.ResponseBody

import io.swagger.client.infrastructure.*

class ProjectDescriptionDetailsControllerApi(basePath: kotlin.String = "http://iymconnected-api-dev.ap-south-1.elasticbeanstalk.com/") : ApiClient(basePath) {

    /**
     * getApiConfiguration
     *
     * @param authorization
     * @param updatedOn updatedOn (optional)
     * @return ResponseBody
     */
    @Suppress("UNCHECKED_CAST")
    fun getApiConfigurationUsingGET(authorization: kotlin.String, updatedOn: kotlin.String? = null): ResponseBody {
        val localVariableQuery: MultiValueMap = if(updatedOn == null) mapOf() else mapOf("updatedOn" to listOf("$updatedOn"))
        val localVariableHeaders: kotlin.collections.Map<kotlin.String, kotlin.String> = mapOf("Authorization" to authorization)
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/project/details", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<ResponseBody>(
            localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ResponseBody
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}